body
{
  background-color: rgba(89, 131, 252, 1);
  background-image: linear-gradient(90deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
    text-align: center;
}
.zoom 
{
    transition: transform 0.35s;
    width: 500px;
    height: 400px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    filter: grayscale(100%);
    scale: 80%;
    transform: rotate(5deg);
    display: inline-block;
    border: 1px solid darkgrey;
    background-color: white;
    padding: 15px 15px 60px 15px;
    box-shadow: 5px 8px 10px darkgrey;
  }
  
  .zoom:hover 
  {
    transform: scale(150%);
    filter: grayscale(0%);
  }